@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Welcome</h1>

</div>

<style>
    body {
        background-image: url('/assets/images/Finance-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>