@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 text-success">Welcome to the Lobby</h1>

</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-success">Menu Options</h4>
            @*<p class="card-text">You may create an account.</p>
            <a href="#" class="card-link">Create House</a>*@
            <br/>
            <p>Join the account for which you received an invitation</p>
            <a asp-controller="Households" asp-action="Index" class="card-link">Join House</a>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('/images/Finance-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>