@using Microsoft.AspNetCore.Identity
@using FinancePortal.Services
@using FinancePortal.Enums
@model FinancePortal.Models.Household

@inject IImageService ImageService
@inject UserManager<FPUser> userManager


@{
    ViewData["Title"] = "Welcome to Your Dashboard";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>:: Money Tracker :: Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- This is my Favicon -->
    <link rel="icon" href="~/images/MT-logo-sm.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/chartist.min.css" rel="stylesheet" />
    <link href="~/css/chartist-plugin-tooltip.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />


    <!-- Tiny MCE Script -->

    <script src="//cdn.tiny.cloud/1/l8uevwuzno0ksw0hxsz567wbuc969qkmvc4abwbzq6rr348m/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    @*<script src='//kit.fontawesome.com/a076d05399.js'></script>*@
    <!-- MAIN CSS -->
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/color_skins.css" rel="stylesheet" />
</head>
<body class="theme-green">

    <!----------------->
    <!-- Page Loader -->
    <!----------------->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/images/MT-logo-pl.png" alt="Money Tracker"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!---------------------->
    <!-- Left Side Navbar -->
    <!---------------------->
    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <img src="~/images/avatar9.jpg" class="rounded-circle user-photo" alt="User Profile Picture">
                <hr>
            </div>
            <!------------------->
            <!-- Overview Tab --->
            <!------------------->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane animated fadeIn active" id="hr_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <li class="nav-link active"><span>Navigation</span></li>
                            <li><a asp-controller="Households" asp-action="Dashboard"><i class="icon-user"></i>Personal Acct.</a></li>
                            <li><a asp-controller="Households" asp-action="Dashboard"><i class="icon-users"></i>Shared Acct.</a></li>
                            <li><a asp-controller="HouseholdBankAccounts" asp-action="Index"><i class="icon-globe"></i>Bank Accounts</a></li>
                            <li><a asp-controller="HouseholdCategories" asp-action="Index"><i class="icon-grid"></i>Categories</a></li>
                            <li><a asp-controller="CategoryItems" asp-action="Index"><i class="icon-list"></i>Category Items</a></li>
                            <li><a asp-controller="Transactions" asp-action="Index"><i class="icon-book-open"></i>Transactions</a></li>

                            </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------>
    <!-- Button to Open the Modal -->
    <!------------------------------>
    <div>
        @if (User.IsInRole(nameof(HouseholdRole.HEAD)))
        {
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">
                Create Invititation
            </button>
        }
        <!--------------->
        <!-- The Modal -->
        <!--------------->
        <div class="modal" id="myModal">
            <div class="modal-dialog-centered modal-dialog modal-xl">
                <div class="modal-content">
                    <!------------------>
                    <!-- Modal Header -->
                    <!------------------>
                    <div class="modal-header justify-content-center bg-success">
                        <h4 class="modal-title text-white">Invitation to Join</h4>
                    </div>
                    <!---------------->
                    <!-- Modal body -->
                    <!---------------->
                    <div class="modal-body bg-light justify-content-center">
                        <form id="frmInvite" asp-controller="HouseholdInvitations" asp-action="Create">
                            @Html.AntiForgeryToken()
                            @*@Html.Hidden("HouseholdId", Model.Id)*@
                            <input type="hidden" name="HouseholdId" value="@Model.Id" />
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-6">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">First Name</span>
                                            </div>
                                            <input name="FirstName" id="FirstName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Last Name</span>
                                    </div>
                                    <input name="LastName" id="LastName" type="text" class="form-control" />
                                </div>
                            </div>
                            <br />
                            <div class="col">
                                <div class="input-group mb-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Email</span>
                                    </div>
                                    <input name="EmailTo" type="email" class="form-control" />
                                </div>
                            </div>
                            <br />
                            <div class="col">
                                <div class="input-group mb-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Subject</span>
                                    </div>
                                    <input name="Subject" id="Subject" type="text" class="form-control" />
                                </div>
                            </div>
                            <br />
                            <div class="col">
                                <div class="input-group mb-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Message</span>
                                    </div>
                                    <textarea name="Message" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="col">
                                <div class="input-group mb-6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Expires</span>
                                    </div>
                                    <input name="Expires" type="text" class="form-control" />
                                </div>
                            </div>
                            <br />
                            <button id="btnSend" type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                    <!------------------>
                    <!-- Modal footer -->
                    <!------------------>
                    <div class="modal-footer bg-light">
                        <button id="btnReset" type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------>
    <!-- Footer -->
    <!------------>
    <div>
        <footer class="border-top footer w-100 fixed-bottom text-center text-success">
            <div>
                &copy; 2020 ~ Money Tracker ~ Created by: O J OLMO
            </div>
        </footer>
    </div>

    <!---------------->
    <!-- Javascript -->
    <!---------------->
    <script src="~/js/libscripts.bundle.js"></script>
    <script src="~/js/vendorscripts.bundle.js"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/js/chartist.bundle.js"></script>
    <script src="~/js/knob.bundle.js"></script>
    <script src="~/js/mainscripts.bundle.js"></script>
    <script src="~/js/index.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
            tinymce.init({ selector: '#Body' });
        });

    </script>

  
</body>

</html>



@*<div>
    <div>
        <h4>Money Tracker</h4>
        <div class="row">
            <div class="col-4">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" asp-controller="Households" asp-action="Dashboard">Household Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" asp-controller="HouseholdBankAccounts" asp-action="Create">Create Bank Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" asp-controller="HouseholdCategories" asp-action="Create">Create a Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" asp-controller="CategoryItems" asp-action="Create">Create a Category Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" asp-controller="Transactions" asp-action="Create">Budget Item Mgmt.</a>
                    </li>

                    @if (User.IsInRole("MEMBER") || User.IsInRole("HEAD") && Model.Occupants.Count == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger" asp-controller="Households" asp-action="Dashboard">Household Dashboard</a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </div>
</div>*@


@section scripts {
    <script>
        $("btnSend").on("click", function () {
            $("frmInvite").submit();
            $("invite").modal('hide');
            $("#btnReset").click();
        });
    </script>

}
