@model FinancePortal.Models.Household

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<hr />
<div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-success">Household</h4>
                    <dl class="row">
                        <dt class="col-sm-3">
                            Name
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-3">
                            Greeting
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Greeting)
                        </dd>
                        <dt class="col-sm-3">
                            Created
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Created)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Dashboard">Back to List</a>
</div>
