@model FinancePortal.Models.HouseholdCategory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />

<div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-success">Household Category</h4>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="HouseholdId" />

                        @*<div class="form-group">
                <label asp-for="HouseholdId" class="control-label"></label>
                <select asp-for="HouseholdId" class="form-control" asp-items="ViewBag.HouseholdId"></select>
                <span asp-validation-for="HouseholdId" class="text-danger"></span>
            </div>*@
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-outline-success" />
                        </div>
                    </form>
                </div>
            </div>         
        </div>
    </div>
</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Households" asp-action="Dashboard">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
