@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>:: Money Tracker :: Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- This is my Favicon -->
    <link rel="icon" href="~/images/MT-logo-sm.png" type="image/x-icon">

    <!-- VENDOR CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/color_skins.css" rel="stylesheet" />
</head>
<body class="theme-green">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap background-image">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        <img src="~/images/MT-logo-sm.png" />
                    </div>
                    <div class="card">
                        <div class="card-header bg-success"></div>
                        <div class="card-body bg-light">
                            <div class="row">
                                <div class="col-md-8">
                                    <section>
                                        <form id="account" method="post">
                                            <h4>Use a local account to log in.</h4>
                                            <hr />
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Input.Email"></label>
                                                <input asp-for="Input.Email" class="form-control" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" class="form-control" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label asp-for="Input.RememberMe">
                                                        <input asp-for="Input.RememberMe" />
                                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Log in</button>
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                                </p>
                                                <p>
                                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                                </p>
                                            </div>
                                        </form>
                                    </section>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer bg-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            background-image: url('/images/Finance-1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>