@model FinancePortal.Models.HouseholdNotification

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Household Notification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            Created
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-3">
            Subject
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-3">
            Body
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-3">
            Is Read
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsRead)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-outline-primary" asp-controller="Households" asp-action="Dashboard">Back to List</a>
    </form>
</div>
