@using FinancePortal.Enums

@model FinancePortal.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (!User.IsInRole("ADMIN") || !User.IsInRole("HEAD"))
            {
                <input type="hidden" asp-for="HouseholdBankAccountId" class="form-control" />
                <input type="hidden" asp-for="CategoryItemId" class="form-control" />
                <input type="hidden" asp-for="FPUserId" class="form-control" />
                <input asp-for="Created" class="form-control" />
            }

            @if (User.IsInRole("ADMIN") || User.IsInRole("HEAD"))
            {

                <div class="form-group">
                    <label asp-for="CategoryItemId" class="control-label"></label>
                    <span asp-validation-for="CategoryItemId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HouseholdBankAccountId" class="control-label"></label>
                    <span asp-validation-for="HouseholdBankAccountId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FPUserId" class="control-label"></label>
                    <span asp-validation-for="FPUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Created" class="control-label"></label>
                    <span asp-validation-for="Created" class="text-danger"></span>
                </div>

            }

            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" type="number" step="any" min="0.01" max="99999999.99" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-controller="Households" asp-action="Dashboard">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
