@using FinancePortal.Enums

@model FinancePortal.Models.HouseholdBankAccount

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HouseholdBankAccount</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (!User.IsInRole("ADMIN") || !User.IsInRole("HEAD"))
            {
                <input type="hidden" asp-for="HouseholdId" />
                <input type="hidden" asp-for="FPUserId" />
            }

            @if (User.IsInRole("ADMIN") || User.IsInRole("HEAD"))
            {
                <div class="form-group">
                    <label asp-for="HouseholdId" class="control-label"></label>
                    <select asp-for="HouseholdId" class="form-control" asp-items="ViewBag.HouseholdId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FPUserId" class="control-label"></label>
                    <span asp-validation-for="FPUserId" class="text-danger"></span>
                </div>

            }

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType" class="control-label"></label>
                <select asp-for="AccountType" class="form-control" asp-items="Html.GetEnumSelectList<AccountType>()"></select>
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingBalance" class="control-label"></label>
                <input asp-for="StartingBalance" class="form-control" />
                <span asp-validation-for="StartingBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
